*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}
body:hover{
    background: url(images/contact2.jpg);
}
.page-container{
    position: relative;
    min-height: 100vh;
}
.content-wrap{
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
}
.photo-grid-container-main{
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.photo-grid-main{
    padding-top: 0px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
}
.efe1{
    display: flex;
    width: 300px;
    aspect-ratio: 1;
    overflow: hidden;
}

img.efe2:hover {
    margin-top: -100%;
}

.efe3{
    display: flex;
    width: 300px;
    aspect-ratio: 1;
    overflow: hidden;
}
img.efe4:hover{
    margin-top: -100%;
}
.efe5{
    display: flex;
    width: 300px;
    aspect-ratio: 1;
    overflow: hidden;
}
img.efe6:hover{
    margin-top: -100%;
}
