*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
body:hover{
    background-color: rgb(92, 92, 92);
}
.photo-grid-container-main{
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.photo-grid-main{
    padding-top: 50px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
}
img.p2:hover{
    height: 300px;
}
img.p4:hover{
    height: 300px;
}
img.p6:hover{
    height: 300px;
}